/* Container Cliente */
#contecliente1 {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgb(53, 53, 53), rgb(255, 255, 255));
  box-shadow: none !important;
  border-color: transparent !important;
  margin-top: 0px!important;
}
/* Subcontainer Cliente */
.contecliente2 {
  display: flex;
  flex-direction: column;
}
/* Header Container */
.contecliente2 .header{
  display: flex;
  align-self: center;
  width: 70%;
  height: 100%;
  background-color: black;


}

#contecliente1 .contecliente2 .buttonsUser .log {
  font-size: 15px;
  color:red;
}

#cliente .contecliente2 .buttonsUser .editar {
  font-size: 15px;
  color:yellow;
}

.buttonsUser {
  display: flex;
  justify-content: space-around;
}

.contecliente2 .header .perfil h2{
  font-weight: 500;
  padding: 0px 20px;
  padding-top: 15px;
  font-size: 30px;
  color: rgb(255, 255, 255);
}
.contecliente2 .header .perfil span{
  font-weight: 500;
  color: white;
}
.contecliente2 .header .perfil img{
  width: 200px;
  height: 200px;
 
}
.contecliente2 .header .saldo {
  width: 100%;
  height: 100%;

}

.contecliente2 .header .saldo h3{
  font-size: 30px;
  color: white;
  text-align: center;

}

#ondasclient {
width:70%;
align-self: center;
}

.contecliente2 .clientegeneral {
  display: flex;
  width: 70%;
  height: auto;
  background-color: whitesmoke;
  margin-top: 0;

}

#navbarcont{
  font-weight: 20px;
  background-color: whitesmoke;
}

#footerclient {
  width:70%;
}