/* Container General  */
#generalcont {
 width:100%;
 background-color: whitesmoke;
 margin-top: 0%;
}
/* Subcontainer General */
.general {
    text-align: center;
    margin-top: 7%;
    color: rgb(0, 0, 0);
 
}

.props {
    display: flex;
    margin: 35px;
}
.props h3{
    color: rgb(2, 2, 2);
    
}

.income {
    text-align: center;
    margin: 0px auto;
    width: 150px;
    color: rgb(150, 150, 150)
}
.expenses {
    text-align: center;
    margin: 0px auto;
    width: 150px;
    color: rgb(150, 150, 150)
}
/* Container de Historial de movimientos por fecha  */
.record {
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}
/* Links de historial por separado */
.record .historylink{
    text-align: center;
    color: #131313;
    width: 20%;
}

.record .historylink:hover{
    text-decoration: none;
    color: yellow;
}

.containervalor {
    color: black;
}


