/* Container General  */
#generalcont {
 width:100%;
 background-color: whitesmoke;
 margin-top: 0%;
}
/* Subcontainer General */
.general {
    text-align: center;
    margin-top: 7%;
    color: rgb(0, 0, 0);
   
}


.props {
    display: flex;
    margin: 35px;
}
.props h3{
    color: white;
    
}

.income {
    text-align: center;
    margin: 0px auto;
    width: 150px;
    color: rgb(150, 150, 150)
}
.expenses {
    text-align: center;
    margin: 0px auto;
    width: 150px;
    color: rgb(150, 150, 150)
}

.record {
    background-color: whitesmoke;
    text-align: center; 
}
.record .link{
    color: #fffe00;
}

.record .link:hover{
    text-decoration: none;
    color: oldlace;
}

.containervalor {
    color: black;
}


