*{
    margin: 0px;
    padding: 0px;
}
#root{
    padding: 0px;
    background-image: linear-gradient(
        rgb(82, 82, 82), 
        rgb(255, 255, 255)
    );
    height: 100vh;
}
#wallet{
    position: relative;
    width: 900px;
    margin: 0px auto;
    top: 50px;
    padding: 30px 0px 15px 0px;
    display: flex;
    background: linear-gradient(
        to bottom, 
        rgba(255,242,0,1) 0%,
        rgba(255,253,133,1) 37%,
        rgb(235, 235, 235) 75%
    );
    border: solid 1px #acacac9c;
}
#wallet .row{
    width: 95%;
    margin: 0px auto;
    padding: 0px;
}
#wallet .row > h2{
    padding-left: 2%;
    width: 100%;
}
#wallet .item{
    margin: 5px 0px;
    display: flex;
    justify-content: space-around;
    background-color: #e5f77f;
    padding: 15px 0px;
}
#wallet .item:first-child{
    margin-bottom: 35px;
    background-color: #eeeeee;
}
#wallet .item .props{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wallet .item div[class^="prop-"] h5{
    margin-bottom: 0px;
}
#wallet button{
    margin-top: 10%;
    margin-left: 16%;
}

@media only screen and (max-width: 400px){ 
    #root{
        background: url("./Wallet.png") no-repeat;
        background-size: cover;
        position: relative;
        display: flex;
        flex-flow: row;
        width: 100%;
        height: 100%;
    }
    #wallet{
        top:250px;
        width: 100%;
        padding: 30px 0px 0px 0px;
        display: flex;
        background: transparent;
        z-index: -100;    
        border: none;
    }
    #wallet .row{
        width: 100%;
        margin: 0px auto;
        padding: 0px;
    }
    #wallet .row > h2{
        visibility: hidden;
    }
    #wallet .item{
        align-items: center;
        background-color: white;
        padding: 15px 0px;
        flex-wrap: wrap;
    }
    #wallet .item .prop-1{
        width: 50%;
    }
    #wallet .item .props{
        width: 50%;
    }
    #wallet .item .props{
        width: 50%;
    }
    #wallet .item .props{
        width: 50%;
    }
    #wallet button{
       margin-bottom: 20px;
    }
}