/* Container Container */
#containernavbar {
    width: 70%;
    display: flex;
}
/* NavBar */
.contenavbar {
    width:100%;  
    height:100%;
    background-color: white;
   }
/* Contenedor Top */
   .conttop {
       height: 100%;
       width: 100%;
       display: flex;
   }
/* Boton Transacciones */
.buttonSB {
    width: 50px;
    height: 100px;
    justify-content: center;
    border-color: transparent !important;
    background-color: black !important;
    box-shadow: 2px 2px 3px 3px gray;
  
}

.btn-dark:hover {
    background-color: rgb(80, 80, 80) !important;
    box-shadow: none !important;
}   
/* Boton Mis Datos*/
.buttonSW {
    width: 35%;
    text-align: center;
    font-size: medium;
    border-color: transparent !important;
    box-shadow: 2px 2px 3px 3px gray;
    
}
.btn-light:hover {
    background-color: rgb(167, 167, 167) !important;
    box-shadow: none !important;
}
/* Boton Mis Productos */
.buttonSB {
    width: 35%;
    text-align: center;
    font-size: medium;
    border-color: transparent !important;
    background-color: black !important;
    box-shadow: 2px 2px 3px 3px gray;
  
}

.btn-dark:hover {
    background-color: rgb(80, 80, 80) !important;
    box-shadow: none !important;
}
/* Contenedor Bot */
.contbot {
    display:flex;
    justify-content: space-evenly;
    
}
/* Boton Recargar Dinero */
.buttonRB {

 
}
/* Boton Mandar Dinero */
.buttonWR {

    
 

}
